footer {
  width: 100%;
  height: 70px;
  background-color: #A4FF95;
  position: fixed;
  bottom: 0;
}
footer ul {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
}
footer ul li {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
footer ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
footer ul li:nth-child(1) {
  background-image: url(../img/home.png);
}
footer ul li:nth-child(2) {
  background-image: url(../img/search.png);
}
footer ul li:nth-child(3) {
  background-image: url(../img/shopping-cart.png);
}
footer ul li:nth-child(4) {
  background-image: url(../img/bell.png);
}
footer ul li:nth-child(5) {
  background-image: url(../img/user.png);
}

@media screen and (min-width: 390px) {
  footer {
    width: 390px;
    height: 70px;
    background-color: #A4FF95;
    position: fixed;
    bottom: 0;
  }}